.faq__btn {
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.faq__btn-plus {
    background-image: url(../../images/plus-icon.svg);
}

.faq__btn-minus {
    background-image: url(../../images/minus-icon.svg);
}