
.header-registration {
    border-bottom: 1px solid rgb(226, 223, 223);
    display: flex;
    align-items: center;
    background-color: transparent;
    max-width: 1328px;
    width: 100%;
    height: 80px;
    padding-left: 56px;
    padding-right: 56px;
}

.header-registration__logo_container {
    width: 100%;
}

.header-registration__logo {
    width: 108px;
    height: 20px;
}

.header-registration__text {
    color: black;
    display: flex;
    column-gap: 32px;
    line-height: 20px;
    max-width: 330px;
    width: 100%;
}

.header-registration__title {
    color: black;
    font-family: 'Aneliza';
    size: 14px;
    justify-self: center;
    width: 100%;
}

.header-registration__subtitle {
    font-family: 'Aneliza';
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 20px;
    justify-self: right;
    width: 100%;
}

.header-registration__find-expert {
    margin: 0;
    size: 14px;
    line-height: 20px;
}

.header-registration__reg-client {
    text-decoration: underline;
    cursor: pointer;
}