.profileContainer {
    display: flex;
    justify-content: space-between;
    padding: 0 0 48px;
    margin: 0 27px 46px 56px;
}
.profileContainer__cardsContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1034px;
    min-width: 1032px;
    flex-wrap: wrap;
}
.button-showMore {
    position: absolute;
    bottom: -40px;
    left: calc(50% - 80px);
    width: 159px;
    height: 44px;
    padding: 12px 29px;
    border-radius: 4px;
    border: 1px solid #0C1200;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    color: #0C1200;
}
