.checkbox {
    padding: 0;
    margin: 0;
    z-index: -1;
    opacity: 0;
}
.checkbox+label::before {
    align-self: flex-start;
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 20px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../../../images/Checkbox.svg');
}
label {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px
}
.checkbox:checked+label::before {
    background-image: url('../../../../../images/сhecked.svg');
}
.checkbox-container {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
