.save-popup {
	border-radius: 12px;
	background: #FFF;
	display: none;
    align-self: flex-end;
    justify-self: flex-start;
	justify-content: center;
	width: 572px;
	height: min-content;
	column-gap: 34px;
	padding: 20px 20px 24px;
	box-sizing: border-box;
    position: absolute;
    top: 40px;
    right: 40px;
}

.save-popup_open {
	display: flex;
}

.save-popup__icon {
	background: url(../../images/Success.svg);
	background-position: center;
	background-repeat: no-repeat;
	width: 54px;
	height: 54px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 50%;
}

.save-popup__container {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
    width: 361px;
}

.save-popup__title {
	color: var(--design-neutral-black, #0C1200);
	/* design/body/extra large */
	font-family: Fira Sans;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
}

.save-popup__subtitle {
	color: var(--design-neutral-black, #0C1200);
	/* design/body/small */
	font-family: Fira Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	margin: 0;
}

.save-popup__btn-close {
	width: 28px;
	height: 28px;
	background: url(../../images/icon_close.svg);
	background-position: center;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}