.photoCardContainerProfile {
    border-radius: 12px 12px 0 0 ;
    position: relative;
    width: 496px;
    height: 296px;
    margin-bottom: 32px;
}
.photoCardContainerProfile__card {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 496/296;
    object-fit: cover;
}

.photoCardContainerProfile:hover  {
    cursor: pointer;
    background-color: #FFFFFF;
}
.photoCardContainerProfile:hover  .photoCardContainerProfile-info {
    display: flex;
}
