.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    background-color: #E0E0E0;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

.contact__image {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    overflow: hidden;
}

.contact__name {
    color: #0C1200;
    font-feature-settings: 'ss01' on, 'ss03' on;
    /* design/label/large */
    font-family: Aneliza;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 125% */
}