.page-error {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  align-items: center;
  background-image: url(../../images/404-image.svg);
}

.page-error__container {
  width: 512px;
  height: 508px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: 100px auto 198px;
  border-radius: 12px;
}

.page-error__number {
  margin: 62px auto 60px;
  font-family: 'Fira Sans';
  font-weight: 900;
  font-size: 212px;
  line-height: 212px;
  text-align: center;
  color: #ffffff;
  letter-spacing: -0.4rem;
  text-shadow: #000d4e14 10px 0 40px;
}

.page-error__title {
  margin: 0 auto 32px;
  font-weight: 600;
  font-size: 35px;
  line-height: 36px;
  text-align: center;
  color: #0c1200;
  letter-spacing: -0.06rem;
}

.page-error__btn {
  width: 360px;
  height: 44px;
  background-color: #affa00;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #0c1200;
  cursor: pointer;
}
