.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.signup__fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.signup__title {
    text-align: center;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.5px;
    max-width: 437px;
    margin-bottom: 52px;
}

.signup__input-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 360px;
    padding: 16px 20px 20px 20px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background: none;
    box-sizing: border-box;
    cursor: pointer;
}

.signup__input-container_check {
    background: #0C1200;
    color: white;
}

.signup__input-radio {
    appearance: none;
    cursor: pointer;
    margin: 5px 0 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.5px solid #0C1200;
    background: none;
}

.signup__input-radio:checked {
    border: 4px solid #91E500;
}

.signup__input-label {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin: 0 0 0 40px;
    width: 300px;
}