.experts-preview {
  max-width: 1352px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.experts-preview__title {
  max-width: 510px;
  color: #0c1200;
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.2rem;
  margin: 200px auto 140px;
}

.experts-preview__container {
  margin: 0 auto;
  display: flex;
  gap: 32px;
  max-width: 100vw;
  overflow-wrap: break-word;
  overflow-x: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.experts-preview__container::-webkit-scrollbar {
  height: 2px;
}

.experts-preview__container::-webkit-scrollbar-track {
  background: #e0e0e0;
}

.experts-preview__container::-webkit-scrollbar-thumb {
  border: 2px solid #000000;
}

.experts-preview__link-btn {
  margin: 52px auto 200px;
}

.experts-preview__mask-left {
  top: 460px;
  left: 0;
  width: 208px;
  height: 672px;
  position: absolute;
  background: linear-gradient(to right, rgba(242, 242, 242, 1), rgba(242, 242, 242, 0));
  z-index: 1;
}

.experts-preview__mask-right {
  top: 460px;
  right: 0;
  width: 208px;
  height: 672px;
  position: absolute;
  background: linear-gradient(to left, rgba(242, 242, 242, 1), rgba(242, 242, 242, 0));
  z-index: 1;
}

.experts-preview__btn {
  background-color: #affa00;
  width: 275px;
  height: 44px;
  border: none;
  border-radius: 4px;
  color: #0c1200;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
