.reviewsPopup {
  background: rgba(0, 0, 0, 0.31);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

.reviewsPopup_opened {
  visibility: visible;
  opacity: 1;
}

.reviewsPopup__container {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 512px;
}

.reviewsPopup__icon {
  width: 160px;
  height: 160px;
  margin: 80px 0 60px;
}

.reviewsPopup__title {
  text-align: center;

  font-family: 'Aneliza';
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 102.857% */
  letter-spacing: -1.4px;
}

.reviewsPopup__subtitle {
  text-align: center;

  font-family: 'Aneliza';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  margin-top: 24px;
}
