.executorOrders-container {
    width: fit-content;
    margin: 20px auto;
}
.executorOrders-container button {
  margin: 20px auto;
  display: block;
}
.executorOrders-container h1 {
  text-align: center;
}

